{% extends 'myapp/base.html' %}

{% block title %}
    Sign up
{% endblock %}

{% block title2 %}
    Sign up
{% endblock %}

{% block content %}
    <h2>Sign up</h2>
    <div style="float: left">
        <form method="post" class="post-form">
            {% csrf_token %}
            {% for field in form %}
                <p>
                    {{ field.label_tag }}<br>
                <p style="width: 35%">{{ field }}</p>
                {% if field.help_text %}
                    <small style="color: grey">{{ field.help_text }}</small>
                {% endif %}
                {% for error in field.errors %}
                    <p style="color: red">{{ error }}</p>
                {% endfor %}
                </p>
            {% endfor %}
            {% csrf_token %}
            <button type="submit" style="width: 30%" class="btn btn-primary">Sign up</button>
        </form>

        <button class="loginBtn loginBtn--google">
            <a style="color: #ffffff" href="{% url 'social:begin' 'google-oauth2' %}">
                Sign up whith Google +
            </a>
        </button>

        <button class="loginBtn loginBtn--facebook">
            <a style="color: #ffffff" href="{% url 'social:begin' 'facebook' %}">
                Sign up with Facebook
            </a>
        </button>
    </div>
{% endblock %}