{% load staticfiles %}
{#{{form.media}}#}
{#{% load adminmedia %} /* At the top of the template. */#}
{#{% load render_table from django_tables2 %}#}
{#{% load static %}#}
<!--<!DOCTYPE html>-->
<html lang="en">

<head>
    <title>
        {% block title %}
        {% endblock %}
    </title>
    {% block rander_table_block %}
    {% endblock %}

    {#    <script src="https://apis.google.com/js/platform.js" async defer></script>#}
    {##}
    {#    <meta name="google-signin-client_id" content="1070559222840-05o9kd3jtnoqafgk4hgehnaaak7sb4b1.apps.googleusercontent.com">#}

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/apps.css' %}">
    <link rel="stylesheet" href="{% static 'css/nav.css' %}">
    <link rel="stylesheet" href="{% static 'css/social.css' %}">
</head>

<body>
<div>
    <div class="content container">
        <div class="col-md-12 page-header">
            <h1 class="site_name"><a href="/">DjangoTest</a></h1>
            <ul class="nav_menu">
{#                <li><a href="{% url 'readme' %}" class="top-menu">ReadMe</a></li>#}

{#                {% if user.is_authenticated %}#}
{#                    <li><a href="{% url 'add_data' %}" class="top-menu">Add data</a></li>#}
{#                {% endif %}#}
{#                {% if user.is_authenticated %}#}
{#                    <li><a href="{% url 'data_list' %}" class="top-menu">Data list</a></li>#}
{#                {% endif %}#}
{#                {% if user.is_authenticated %}#}
{#                    <li><a href="{% url 'statistic' %}" class="top-menu">Statistic</a></li>#}
{#                {% endif %}#}

                {% if not user.is_authenticated %}

                    <li><a href="{% url 'login' %}" class="top-menu">Login</a></li>

                    <li><a href="{% url 'signup' %}" class="top-menu">Signup</a></li>
                {% endif %}

                {% if user.is_authenticated %}
                    <li><a href="{% url 'logout' %}" class="top-menu">Logout</a></li>
                {% endif %}
                {% if user.is_authenticated %}
                    <h3 style="color: #bbccdd; float: right">Logged as {{ user.username }}</h3>
                {% endif %}
            </ul>
        </div>
    </div>

    <div class="content container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2" style="padding-bottom: 20px">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
</div>
</body>

<footer>
    <div class="copyright col-md-8 col-md-offset-2">
        <div style="padding: 20px 0px 20px 0px;">
            <div class="container" style="color: white; margin: 0px 0px 10px 5px; padding-bottom: 10px">
                <div class="col-md-4">
                    © 2019 - Designed by <a href="https://www.linkedin.com/in/dmitriy-brova" target="_blank">Brova
                    Dmitriy</a>

                </div>
                <div class="col-md-2 col-md-offset-2">
                    <a href="https://github.com/dbrova15" target="_blank" style="float: right;">GitHub</a>
                </div>

            </div>
            <div class="container" style="color: white; margin: 20px 0px 0px 20px;">

                <a href="https://www.iubenda.com/privacy-policy/83502159" class="iubenda-white iubenda-embed"
                   title="Privacy Policy ">Privacy Policy</a>
                <script type="text/javascript">(function (w, d) {
                    var loader = function () {
                        var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0];
                        s.src = "https://cdn.iubenda.com/iubenda.js";
                        tag.parentNode.insertBefore(s, tag);
                    };
                    if (w.addEventListener) {
                        w.addEventListener("load", loader, false);
                    } else if (w.attachEvent) {
                        w.attachEvent("onload", loader);
                    } else {
                        w.onload = loader;
                    }
                })(window, document);</script>
            </div>
        </div>
    </div>
</footer>
</html>